@model IEnumerable<ImageSearch.Models.Admin>

@{
    ViewData["Title"] = "Admin";
}

<h2>Images</h2>
<p>
    <a asp-controller="Images" asp-action="Index">Edit Images</a>
</p>

<h1>Admins</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="LogOut">Log out</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @if (User.Claims.Select(x => x.Subject.Name).First() == item.Login)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span> | </span>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <span>Edit | Details | Delete</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
