@model IEnumerable<ImageSearch.Models.Admin>

@{
    ViewData["Title"] = "Admin";
}

<h1>Admins</h1>

<p>
    @if (Model.Any(m => m.Id == ViewBag.LoggedInId))
    {
        <a asp-action="Create">Create New</a>
    }
    else
    {
        <span>Log in to register another admin</span>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @if (ViewBag.LoggedInId == item.Id)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span> | </span>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <span> | </span>
                }
                else
                {
                    <span>Edit | Details | Delete | </span> 
                }
                <a asp-action="LogIn" asp-route-id="@item.Id">Log in</a>
            </td>
        </tr>
}
    </tbody>
</table>
